header {
  z-index: 99;
  position: sticky;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  header .links-container ul {
    position: absolute;
    z-index: -1;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20vh;
    flex-direction: column;
  }

  menu__toggle {
    opacity: 0;
  }

  #links {
    display: none;
  }

  #menu__toggle:checked ~ #links {
    display: flex;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
}

  #links li {
    all: unset;
    margin: 0.5rem;
  }

  #links li a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
  }

  #links li a:hover {
    text-decoration: underline;
  }