main {
    display: flex;
    height: 100%;
}

.hero {
    display: grid;
    grid-template-rows: 75% 10% 15%;
    height: 60vh;
    text-align: center;
    place-items: center;
}

.hero .hero-img {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0) 75%, var(--background-color) 100%),
        url(/assets/img/hero.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
}

.hero h2 {
    margin-top: -5vh;
    color: var(--text-color);
}

.hero button {
    font-size: large;
}